body{
background-color: white;    
margin: 0px;
}

header{
    background-color: #c4857e;
    width: 100%;
    height: 80px;
    background-position: center;
}

.links {
    font-size: 20px;
    font-family: serif;
}

a {
    text-decoration: none;
    align-items: center;
    color: aliceblue
    
}

