body {
    background-color: #e3c7c3;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_container {
    background-color: #c4857e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 100px;
}


.logo img {
    width: 90px;
    height: 90px;
}


.links {
    display: flex;
    gap: 30px;
}

.links a {
    font-size: 15px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.links a:hover {
    color: white;
}

main {
    width: 60%;
    height: 100vh;
}

.layout {
    display: flex;
    height: 100%;
}


.container_1 {
    flex: 3;
    background-image: url(img/carla.jpeg);
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 60%;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    color: #bb8065;
    font-size: 32px;
}

.colum_right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 30px;
}

.container_2 {
    background-image: url(img/boca.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    color: white;
    font-size: 24px;

}

.container_3 {
    background-image: url(img/mentoria.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    color: white;
    font-size: 24px;
}

colum_left{

}
